body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #ecdcca;
  text-decoration: none;
}

.heading {
  margin-top: 80px;
  font-family: 'Abril Fatface', sans-serif;
  color: #263238;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.body {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f9efe3;
}

.paragraph {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
}

.paragraph.footer {
  color: #ecdcca;
  font-size: 14px;
}

.paragraph.contact {
  margin-top: 50px;
  font-size: 16px;
}

.paragraph.header {
  margin-top: 20px;
  font-size: 16px;
}

.div-block {
  max-height: 400px;
  max-width: 280px;
  min-height: 400px;
  margin-top: 60px;
  background-color: #49475b;
}

.container {
  padding-top: 60px;
  padding-bottom: 0px;
}

.section {
  display: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
  justify-items: center;
  grid-auto-flow: row dense;
  grid-auto-columns: minmax(200px, 1fr);
  grid-row-gap: 34px;
  grid-template-areas: "Area";
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  position: relative;
  width: 280px;
  height: 400px;
  padding-top: 10px;
  padding-right: 34px;
  padding-left: 34px;
  background-color: #49475b;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
  transition: -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
  transition: transform 300ms cubic-bezier(.215, .61, .355, 1);
  transition: transform 300ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 300ms cubic-bezier(.215, .61, .355, 1);
}

.card:hover {
  bottom: 0px;
  -webkit-transform: translate(0px, 4px);
  -ms-transform: translate(0px, 4px);
  transform: translate(0px, 4px);
}

.card.card-red {
  background-color: #793333;
}

.card.card-blue {
  background-color: #2a4e68;
}

.card-h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Abril Fatface', sans-serif;
  color: #ecdcca;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.card-p {
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #ecdcca;
  font-size: 16px;
  font-weight: 300;
}

.card-link-label {
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #ecdcca;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.card-link {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.image {
  margin-bottom: 10px;
}

.div-block-2 {
  height: 100px;
  margin-top: 8px;
  border: 2px solid #ecdcca;
  border-radius: 0px;
  background-image: url('../images/Screenshot-2019-10-16-at-19.10.25.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-block-2.okienko {
  background-image: url('../images/Screenshot-2019-10-20-at-14.37.58.png');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-2.stor {
  border: 2px solid #ecdcca;
  background-image: url('../images/Screenshot-2019-10-16-at-18.48.44.png');
}

.div-block-2.beirut {
  background-image: url('../images/Screenshot-2019-10-20-at-14.43.34.png');
}

.div-block-2.labour {
  background-image: url('../images/Screenshot-2019-10-20-at-14.52.05.png');
}

.div-block-2.mysia {
  background-image: url('../images/Screenshot-2019-10-20-at-14.57.57.png');
}

.div-block-2.kafka {
  background-image: url('../images/Screenshot-2019-10-20-at-15.04.20.png');
}

.div-block-2.kraken {
  background-image: url('../images/Screenshot-2019-10-20-at-15.17.01.png');
}

.div-block-2.filtry {
  background-image: url('../images/Screenshot-2019-10-20-at-15.21.23.png');
}

.image-2 {
  margin-top: 10px;
  margin-bottom: 8px;
}

.image-2.laptop {
  margin-left: 8px;
}

.image-2.mysia {
  margin-left: 0px;
}

.image-3 {
  margin: 10px 8px 8px;
}

.image-3.music {
  margin-left: 0px;
}

.image-3.music.kraken {
  margin-left: 8px;
}

.image-3.nocny-drink {
  margin-right: 6px;
}

.image-3.beirut {
  margin-right: 6px;
}

.image-3.kraken {
  margin-left: 0px;
}

.div-block-3 {
  height: 60px;
  margin-top: 60px;
  padding-top: 18px;
  background-color: #793333;
}

.link {
  color: #000;
}

.link:hover {
  color: #793333;
}

@media (max-width: 991px) {
  .body {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .heading.h1 {
    font-size: 42px;
  }
}

@media (max-width: 479px) {
  .heading.h1 {
    font-size: 36px;
    line-height: 40px;
  }
}

